<!-- @reload -->
<!-- $title CSS - Front End Dev Field Guide -->
<!-- $bodyClass css -->


<!-- @include _header -->

.content-wrap
    %main.content(role='main')
        %h1.title
            %small Chapter 4
            CSS
        <!-- @include css -->

<!-- @include _footer -->