%p.lede Things have only just begun.

%h2#going-further
    %a(href='#going-further' title='Going Further') Going Further

%p You&rsquo;ve done it. You&rsquo;ve completed the entirety of the Front End Development Field Guide. Take a moment. Breathe it in. That&rsquo;s not a meager accomplishment. So give yourself a hand.

%p There&rsquo;s a lot more to do though. It is my sincere hope that the process of working through this guide has instilled in you a desire to do more on the web. If you want to learn more, there&rsquo;s a lot to learn (check out the resources section for a ton of links to good web development content); if you want to make things, start making things. You don&rsquo;t need a web host or a domain name (although you can get both of those things if you&rsquo;d like), you just need a computer and a desire to make cool stuff.

%p So look around, check out sites like <a href='http://movethewebforward.org/' title='Move the Web Forward' target='_blank'>Move the Web Forward</a> and <a href='http://alistapart.com' title='A List Apart' target='_blank'>A List Apart</a>. They&rsquo;re full of information with a ton of useful links. A List Apart has articles from some of the smartest minds in web development.

%p There&rsquo;s a lot to learn and do on the web. So just keep working, and most of all, never forget to have a hell of a lot of fun.

%a.button.block(href='/resources' title='Resources') Next Chapter: Resources &rarr;