%p.lede Your quirky quicker reference.
    
%h2#browsers
    %a(href='#browsers' title='Browsers') Browsers
        
%ol
    %li
        %a(href='http://taligarsiel.com/Projects/howbrowserswork1.htm' title='How Browser Work by Tali Garsiel' target='_blank')
            &ldquo;How Browser Work&rdquo;
        by Tali Garsiel
    %li
        %a(href='http://technet.microsoft.com/en-us/library/cc772774(v=ws.10).aspx' title='How DNS Works by Microsoft' target='_blank')
            &ldquo;How DNS Works&rdquo;
        by Microsoft
    %li
        %a(href='http://www.theguardian.com/technology/2013/apr/05/blink-google-rendering-browser' title='Google Blink Restarts the Browser Wars by Charles Arthur' target='_blank')
            &ldquo;Google Blink Restarts the Browser Wars&rdquo;
        by Charles Arthur
    %li
        %a(href='http://alistapart.com/article/a-brief-history-of-markup' title='A Brief History of Markup by Jeremy Keith' target='_blank')
            &ldquo;A Brief History of Markup&rdquo;
        by Jeremy Keith
    %li
        %a(href='http://caniuse.com/' title='caniuse.com - Browser Support for HTML and CSS features' target='_blank')
            caniuse.com
        &mdash; browser support for HTML and CSS features
    %li
        %a(href='http://www.html5rocks.com/en/tutorials/internals/howbrowserswork/' title='How Browsers Work by Tali Garsiel and Paul Irish' target='_blank')
            &ldquo;How Browser Work&rdquo;
        by Tali Garsiel and Paul Irish
    %li
        %a(href='http://www.stevesouders.com/blog/2008/08/23/revving-filenames-dont-use-querystring/' title="Don't Use Querystring" target='_blank')
            &ldquo;Don&rsquo;t Use Querystring&rdquo;
        by Steve Souders





%h2#html
    %a(href='#html' title='HTML') HTML
        
%ol
    %li
        %a(href='https://developer.mozilla.org/en-US/docs/Web/HTML/Element' title='List of HTML Elements by the Mozilla Developer Network' target='_blank')
            &ldquo;List of HTML Elements&rdquo;
        by the Mozilla Developer Network
    %li
        %a(href='http://stackoverflow.com/questions/3741896/what-do-you-call-tags-that-need-no-ending-tag' title='Tags That Need No Ending Tag' target='_blank')
            &ldquo;Tags That Need No Ending Tag&rdquo;
        from Stack Overflow
    %li
        %a(href='http://www.w3.org/International/questions/qa-html-encoding-declarations' title='Character Encodings in HTML by the W3C' target='_blank')
            &ldquo;Character Encodings in HTML&rdquo;
        by the W3C
    %li
        %a(href='http://alistapart.com/blog/post/more-thoughts-about-blockquotes-than-are-strictly-required' title='More Thoughts About Blockquotes than are Stricly Required' target='_blank')
            &ldquo;More Thoughts About Blockquotes than are Strictly Required&rdquo;
        by Tim Murtaugh
    %li
        %a(href='http://html5doctor.com/html5-forms-input-types/' title='HTML5 Form Input Types' target='_blank')
            &ldquo;HTML5 Form Input Types&rdquo;
        by Richard Clark
    %li
        %a(href='http://usability.com.au/2013/04/accessible-forms-1-labels-and-identification/' title='Accessible Forms 1: Labels and Identification' target='_blank')
            &ldquo;Accessible Forms 1: Labels and Identification&rdquo;
        by Roger Hudson
    %li
        %a(href='https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes' title='List of HTML Attributes by the Mozilla Developer Network' target='_blank')
            &ldquo;List of HTML Attributes&rdquo;
        by the Mozilla Developer Network
    %li
        %a(href='http://accessibility.psu.edu/imageshtml' title='Image Alt Tag Tips by Pennsylvania State Accessibility' target='_blank')
            &ldquo;Image Alt Tag Tipes&rdquo;
        by Pennsylvania State Accessibility
    %li
        %a(href='http://www.w3.org/WAI/intro/accessibility.php' title='Introduction to Accessibility by the Web Accessibility Initiative' target='_blank')
            &ldquo;Introduction to Accessibility&rdquo;
        by the Web Accessibility Initiative
    %li
        %a(href='http://microformats.org/' title='Microformats.org' target='_blank')
            Microformats.org
        &mdash; the official microformats spec
    %li
        %a(href='http://microformats.org/wiki/microformats2' title='Microformats 2, the current specification' target='_blank')
            &ldquo;Microformats 2&rdquo;
        &mdash; the latest stable recommendation
    %li
        %a(href='http://validator.w3.org/' title='Markup Validator by the W3C' target='_blank')
            &ldquo;Markup Validator&rdquo;
        by the W3C
    %li
        %a(href='http://css-tricks.com/wrapup-of-navigation-in-lists/' title='Navigation in Lists by Chris Coyier' target='_blank')
            &ldquo;Navigation in Lists&rdquo;
        by Chris Coyier







%h2#css
    %a(href='#css' title='CSS') CSS

%ol
    %li
        %a(href='http://csswizardry.com/2011/09/writing-efficient-css-selectors/' title='Writing Efficient CSS Selectors by Harry Roberts' target='_blank')
            &ldquo;Writing Efficient CSS Selectors&rdquo;
        by Harry Roberts
    %li
        %a(href='http://alistapart.com/article/fluidgrids' title='Fluid Grids by Ethan Marcotte' target='_blank')
            &ldquo;Fluid Grids&rdquo;
        by Ethan Marcotte
    %li
        %a(href='http://www.lukew.com/ff/entry.asp?1117' title='Mobile First Helps With Big Issues' target='_blank')
            &ldquo;Mobile First Helps With Big Issues&rdquo;
        by Luke Wroblewski
    %li
        %a(href='http://www.abookapart.com/products/mobile-first' title='Mobile First: The Book by Luke Wroblewski' target='_blank')
            &ldquo;Mobile First: The Book&rdquo;
        by Luke Wroblewski
    %li
        %a(href='http://sass-lang.com/' title='SASS: Syntactically Awesome StyleSheets' target='_blank')
            &ldquo;SASS: Syntactically Awesome StyleSheets&rdquo;
        &mdash; A Ruby-based CSS preprocessor
    %li
        %a(href='http://lesscss.org/' title='LESS: The Dynamic StyleSheet Language' target='_blank')
            &ldquo;LESS: Dynamic StyleSheet Language&rdquo;
        &mdash; A Javascript-based CSS preprocessor
        



















