%dl.table
    .item
        %dt
            %code.language-markup
                :escaped
                    <a>
        %dd &ldquo;Anchor&rdquo; Makes links to other documents.
    .item
        %dt
            %code.language-markup
                :escaped
                    <abbr>
        %dd &ldquo;Abbreviation&rdquo; Provides definitions of abbreviations.
    .item
        %dt
            %code.language-markup
                :escaped
                    <address>
        %dd &ldquo;Address&rdquo; Indicates an address.
    .item
        %dt
            %code.language-markup
                :escaped
                    <area>
        %dd &ldquo;Area&rdquo; Indicates a region of an image map.
    .item.bad
        %dt
            %code.language-markup
                :escaped
                    <b>
        %dd <em>Don&rsquo;t use this. Use <code class='language-markup'>&lt;strong&gt;</code> or <code class='language-markup'>&lt;em&gt;</code> instead.</em>
    .item
        %dt
            %code.language-markup
                :escaped
                    <base>
        %dd &ldquo;Base&rdquo; Indicates the base URL for relative links.
    .item
        %dt
            %code.language-markup
                :escaped
                    <bdo>
        %dd &ldquo;Bi-Directional&rdquo; Indicates bi-directional text.
    .item.bad
        %dt
            %code.language-markup
                :escaped
                    <big>
        %dd <em>Don&rsquo;t use this. Use CSS instead.</em>
    .item
        %dt
            %code.language-markup
                :escaped
                    <blockquote>
        %dd &ldquo;Block Quotation&rdquo; Indicates a large quotation.
    .item
        %dt
            %code.language-markup
                :escaped
                    <body>
        %dd &ldquo;Body&rdquo; Indicates the page&rsquo;s displayed content.
    .item
        %dt
            %code.language-markup
                :escaped
                    <br>
        %dd &ldquo;Line Break&rdquo; Indicates a line break.
    .item
        %dt
            %code.language-markup
                :escaped
                    <button>
        %dd &ldquo;Button&rdquo; Indicates a button, often in a form.
    .item
        %dt
            %code.language-markup
                :escaped
                    <caption>
        %dd &ldquo;Caption&rdquo; Indicates a caption.
    .item
        %dt
            %code.language-markup
                :escaped
                    <cite>
        %dd &ldquo;Citation&rdquo; Indicates a citation.
    .item
        %dt
            %code.language-markup
                :escaped
                    <address>
        %dd &ldquo;Address&rdquo; Indicates an address.
    .item
        %dt
            %code.language-markup
                :escaped
                    <code>
        %dd &ldquo;Code&rdquo; Indicates code from a computer language.
    .item
        %dt
            %code.language-markup
                :escaped
                    <col>
        %dd &ldquo;Column&rdquo; Indicates a column in a table, must be in a <code class='language-markup'>colgroup</code>.
    .item
        %dt
            %code.language-markup
                :escaped
                    <colgroup>
        %dd &ldquo;Column Group&rdquo; Indicates a collection of columns in a table.
    .item
        %dt
            %code.language-markup
                :escaped
                    <address>
        %dd &ldquo;Address&rdquo; Indicates an address.
    .item
        %dt
            %code.language-markup
                :escaped
                    <dd>
        %dd &ldquo;Definition Description&rdquo; Indicates a definition with <code class='language-markup'>dl</code> and <code class='language-markup'>dt</code>.
    .item
        %dt
            %code.language-markup
                :escaped
                    <del>
        %dd &ldquo;Deletion&rdquo; Indicates an editorial deletion.
    .item
        %dt
            %code.language-markup
                :escaped
                    <dfn>
        %dd &ldquo;Definition&rdquo; Indicates an inline definition.
    .item
        %dt
            %code.language-markup
                :escaped
                    <div>
        %dd &ldquo;Division&rdquo; Indicates a block of HTML.
    .item
        %dt
            %code.language-markup
                :escaped
                    <dl>
        %dd &ldquo;Definition List&rdquo; Indicates a list of <code class='language-markup'>&lt;dt&gt;</code> and <code class='language-markup'>&lt;dd&gt;</code> tags.
    .item
        %dt
            %code.language-markup
                :escaped
                    <DOCTYPE>
        %dd &ldquo;Document Type&rdquo; Indicates the document&rsquo;s language.
    .item
        %dt
            %code.language-markup
                :escaped
                    <dt>
        %dd &ldquo;Definition Term&rdquo; Indicates the term being defined in a <code class='language-markup'>&lt;dl&gt;</code>.
    .item
        %dt
            %code.language-markup
                :escaped
                    <em>
        %dd &ldquo;Emphasis&rdquo; Indicates emphasized text.
    .item
        %dt
            %code.language-markup
                :escaped
                    <fieldset>
        %dd &ldquo;Field Set&rdquo; Indicates a group of related form fields.
    .item
        %dt
            %code.language-markup
                :escaped
                    <form>
        %dd &ldquo;Form&rdquo; Indicates a form to get information from users.
    .item
        %dt
            %code.language-markup
                :escaped
                    <h1> to <h6>
        %dd &ldquo;Headers 1 to 6&rdquo; Indicates headers of varying importance.
    .item
        %dt
            %code.language-markup
                :escaped
                    <head>
        %dd &ldquo;Document Head&rdquo; Indicates the header of a document.
    .item
        %dt
            %code.language-markup
                :escaped
                    <html>
        %dd &ldquo;Root&rdquo; Begins the document, preceded only by <code class='language-markup'>&lt;DOCTYPE&gt;</code>.
    .item.bad
        %dt
            %code.language-markup
                :escaped
                    <hr>
        %dd Don&rsquo;t use this. Use CSS instead.
    .item.bad
        %dt
            %code.language-markup
                :escaped
                    <i>
        %dd Don't use this. Use <code class='language-markup'>&lt;em&gt;</code> instead.