dl.table {
    border: 1px solid #ccc;
    background: #fff;
    margin: 1.5em 0;
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
    
.item {
    border-bottom: 1px solid #ccc;
    position: relative;
    display: table-row;
    
    &:nth-child(2n) {
        background: #fcfcfc;
    }
    
    &.bad {
        opacity: .5;
    }
    
    dt,
    dd {
        display: table-cell;
        padding: 1em 1em .8em;
    }
    
    dt {
        text-align: right;
        border-right: 1px dashed #ccc;
    }
    
    code {
        display: inline-block;
        padding: .15em .5em;
        vertical-align: 2px;
    }
}