<!-- @reload -->
<!-- $title Web Dev Field Guide -->
<!-- $bodyClass intro -->



<!-- @include _header -->

.content-wrap
    %main.content(role='main')
        %h1.title Introductions
        <!-- @include intro -->

<!-- @include _footer -->