<!-- @reload -->
<!-- $title Web Dev Field Guide -->
<!-- $bodyClass intro -->
<!-- @include _header -->

-# Main content goes here.

#container
    %main(role='main')
        %header(role='banner')
            %h1.logo
                %a(href='/')
                    Web Dev Field Guide
                    %small A web-book by Andrew Brinker
        <!-- @include welcome -->
        <!-- @include toc -->

<!-- @include _footer -->