<!-- @reload -->
<!-- $title Web Dev Field Guide -->
<!-- $bodyClass intro -->
<!-- @include _header -->

-# Main content goes here.

#container
    %sidebar
        <!-- @include toc -->
    %main(role='main')
        %header(role='banner')
            %h1.page-title
                %a(href='/')
                    Web Development
        .content.welcome
            <!-- @include intro -->

<!-- @include _footer -->