<!-- @reload -->
<!-- $title Front End Dev Field Guide -->
<!-- $bodyClass intro -->



<!-- @include _header -->

.content-wrap
    %main.content(role='main')
        %h1.title
            %small Chapter 1
            Intro
        <!-- @include intro -->

<!-- @include _footer -->