/*------------------------------------*
    $CONTENTS
 *------------------------------------*/
 
/**
 * CONTENTS............You're reading it!
 * MIXIN IMPORT........Needed for em to px conversions.
 * COLORS..............Variables defining site colors.
 * FONT SIZES..........Variables defining font sizes.
 * FONT FAMILIES.......Variables defining font stacks.
 * NEAT................Variables for Bourbon Neat.
 * IMPORTS.............Import the other stylesheets.
 */


/*------------------------------------*
    $Mixin Import
 *------------------------------------*/

@import 'base/mixins';





/*------------------------------------*
    $COLORS
 *------------------------------------*/

$background-color:   #fff;
$text-color:         #444;
$brand-color:        #66AEF3;
$brand-accent-color: #F06B50;





/*------------------------------------*
    $FONT SIZES
 *------------------------------------*/

$base-font-size:    20px!default;
$base-line-height:  px(1.667)!default;

$giga-size:         px(5)!default;
$mega-size:         px(4)!default;
$kilo-size:         px(3)!default;

$h1-size:           px(2)!default;    // .alpha
$h2-size:           px(1.75)!default; // .beta
$h3-size:           px(1.5)!default;  // .gamma
$h4-size:           px(1.33)!default; // .delta
$h5-size:           px(1)!default;    // .epsilon
$h6-size:           px(.9)!default;   // .zeta

$milli-size:        px(.8)!default;
$micro-size:        px(.667)!default;





/*------------------------------------*
    $FONT FAMILIES
 *------------------------------------*/

$brand-primary-font:   "chaparral-pro", Georgia, "Times New Roman", Times, serif;
$brand-secondary-font: "proxima-nova-extra-condensed", Impact, Helvetica, Arial, sans-serif;
$brand-mono-font:      Consolas, Monaco, 'Andale Mono', monospace;






/*------------------------------------*
    $QUOTES
 *------------------------------------*/

$english-quotes:  true!default;
$open-quote:      null;
$close-quote:     null;

@if $english-quotes != true{
    $open-quote:  \00AB;
    $close-quote: \00BB;
}





/*------------------------------------*
    $NEAT
 *------------------------------------*/

$max-width: 860px;
$grid-columns: 10;
$gutter: em(40px);






/*------------------------------------*
    $IMPORTS
 *------------------------------------*/

/**
 * External libraries
 */

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'lib/prism';


/**
 * Base Styles
 */

@import 'base/normalize';
@import 'base/typography';
@import 'base/quotes';
@import 'base/lists';
@import 'base/clearfix';
@import 'base/disable';
@import 'base/images';
@import 'base/button';
@import 'base/tables';


/**
 * Reusable Modules
 */

@import 'modules/header';
@import 'modules/blockquote';
@import 'modules/logo';
@import 'modules/page-nav';
@import 'modules/table-of-contents';
@import 'modules/content';
@import 'modules/title';
@import 'modules/lede';
@import 'modules/footer';
@import 'modules/reference';
@import 'modules/about';
@import 'modules/exercise';
@import 'modules/review';


/**
 * State styles
 */
 
@import 'state/hiding';
@import 'state/print';
@import 'state/current-page';
@import 'state/tooltip';
@import 'state/show-toc';
@import 'state/respond';
@import 'state/no-js';








