.blockquote {
    border-left: .15em solid #ccc;
    padding: 0 2em;
    margin: 1em 0;
    
    blockquote {
        margin: 0 0 .25em;
        
        &::before { content: "\201C"; }
        &::after  { content: "\201D"; }
    }
    
    figcaption {
        color: #999;
    
        &::before {
            content: "\2014  ";
        }
    }
}