.exercise {
    border: 2px solid darken(#556270, 15%);
    border-radius: 4px;
    padding: 1rem 4rem .5rem 1em;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
    
    &:after {
        content: "+";
        font-family: $brand-secondary-font;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        width: 3rem;
        background: #556270;
        padding: 1.2rem .5rem .5rem .5rem;
        color: #fff;
        font-size: 3em;
        text-shadow: darken(#556270, 30%) 0 1px 1px;
        font-weight: 700;
        line-height: 1em;
        text-align: center;
        @include transition(background .1s linear);
    }
    
    &.active {
        &:after {
            content: "\00D7";
        }
        
        .answer {
            height: auto;
            border-top: 1px solid rgba(0,0,0,.1);
            padding-top: 1em;
            margin-top: 1em;
            @include transition(padding-top .1s linear, border-top .1s linear, margin-top .1s linear);
        }
    }
    
    &:hover,
    &:focus {
        cursor: hand;
        
        &:after {
            color: #fff;
            background: $brand-accent-color;
            @include transition(background .1s linear);
        }
    }
    
    h3 {
        margin: 0;
        padding: 0 0 .5rem;
        font-family: $brand-secondary-font;
        color: #556270;
        text-transform: uppercase;
        border: 0;
    }
    
    p {
        margin: 0;
    }
    
    p + p {
        text-indent: 1em;
    }
}

.answer {
    padding: 0 1em 0 0;
    background: #fff;
    overflow: hidden;
    height: 0;
    border-radius: 3px;
    border-top: 0;
    @include transition(padding-top .1s linear, border-top .1s linear, margin-top .1s linear);
}