.toc-container {
    background: #fbfbfb;
    color: #999;
    padding: 2em 0;
    font-size: $milli-size;
    line-height: 1.5em;
    box-shadow: rgba(0,0,0,.15) 0 0 0 1px;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 100;
    
    display: block;
    
    @include transition(opacity .1s linear);
    
    pointer-events: all;
    
    a {
        color: #444;
        text-decoration: none;
        
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

    .toc-header {
        @include outer-container;
        
        padding-top: .5em;
        
        border-bottom: 4px solid rgba(0,0,0,.1);
        margin-bottom: 2em;
        
        h3 {
            @include span-columns(5);
            font-weight: 500;
            border: 0;
            padding-bottom: .75em;
            margin-bottom: 0;
        }
        
        .nav-button {
            border-bottom: 0;
        }
    }

    .toc {
        @include outer-container;
        @include columns(4 $gutter);
           
        h4 {
            font-family: $brand-secondary-font;
            letter-spacing: 2px;
            font-weight: 700;
            text-transform: uppercase;
            font-size: $milli-size + 1px;
        }
    }