-#----------------------------
-# LEDE
-#----------------------------


%p.lede Welcome to a grand new adventure!





-#----------------------------
-# Why This Exists
-#----------------------------


%h2#why-this-exists
    %a(href='#why-this-exists' title='Why This Exists') Why This Exists
    
.reference-container
    %aside
        %p That old work was deleted with the death of the forums I used, or else I'd share it here.
    %p Starting as a web developer can be a difficult thing. I started at twelve, futzing around with <abbr title='Cascading Style Sheets'>CSS</abbr> for a forum I&rsquo;d made, marshaling <abbr title='HyperText Markup Language'>HTML</abbr> tables into something resembling a coherent site. My knowledge was built on Google searches, W3Schools reading, and experimentation. Most of it was bad.

%p By the time I started really getting into web development; really trying to learn how to do things <strong>right</strong>, I was way far gone. I've spent a lot time since then unlearning what I'd always thought was right.

.reference-container
    %aside
        %p If you're looking for good reference material, try the <a href='/resources' title='Resources' target='_blank'>resources</a> page.
    %p Things don't have to be that way, and in creating this field guide, it is my hope that you learn from my mistakes. What I share here is not a complete catalogue of all things HTML and CSS, nor it is a how-to on designing a blog or opening an online store. The field guide exists to take you, the coder, the hacker, the hobbyist, the reader, and make you into a real life Front End Developer.

%p How does it start? Repeat after me: "I am a web developer".

%p "I am a web developer", "I am a web developer", "I am a web developer", "I am a web developer".

%p Have you said it?

%p Congratulations. You're a web developer.

%p That's the great thing about the web, anyone can use it. But being a <strong>good</strong> web developer takes more. This field guide exists to teach you the practices, paradigms, concepts, and language that'll make you a real creator of web experiences.






-#----------------------------
-# Who It's For
-#----------------------------


%h2#who-its-for
    %a(href='#who-its-for' title="Who It's For") Who It&rsquo;s For

.reference-container
    %aside
        %p Answer: <strong>You</strong>
    %p This book is for anyone and everyone interested in web development. The web is a platform of equal opportunity, and this book is written with readers' varying skills in mind. If you are worried about not knowing enough, or not being ready, don&rsquo;t worry.

%p This book is also for more experienced developers looking to brush up or grow their knowledge. If you are a more advanced developer you may want to try the advanced topics or peruse the <a href='/resources' title='Resources' target='_blank'>resources</a> section.





-#----------------------------
-# Paradigm Agnosticism
-#----------------------------


%h2#paradigm-agnosticism
    %a(href='#paradigm-agnosticism' title='Paradigm Agnosticism') Paradigm Agnosticism

.reference-container
    %aside
        %p The title says it all.
    %p At various points in this book I will make reference to or discuss varying paradigms for web development. At no point should this be considered an endorsement of a given paradigm. It is my firm belief that the best paradigm is the one that works best for you. What I may find preferable may be bad for you, your project, or your team, and so paradigms should never be dictated by dogma.





-#----------------------------
-# FINAL WELCOME
-#----------------------------


%h2#final-welcome
    %a(href='#final-welcome' title='Final Welcome') Final Welcome

%p With all that out of the way, prepare to enter the wilds of web development. Bring your paper, your pencil, and be ready to learn. This book may move quickly at times, but never feel pressured to move quicker than you're ready for. If something isn&rsquo;t clear <a href='/author' title='Meet the Author' target='_blank'>email me</a>, I am always happy to help.

%a.button.block(href='/browsers' title='Browsers') Next Chapter: Browsers &rarr;