<!-- @reload -->
<!-- $title Resources - Front End Dev Field Guide -->
<!-- $bodyClass resources -->


<!-- @include _header -->

.content-wrap
    %main.content(role='main')
        %h1.title
            %small Chapter 6
            Resources
        <!-- @include resources -->

<!-- @include _footer -->