<!-- @reload -->
<!-- $title Conclusion - Front End Dev Field Guide -->
<!-- $bodyClass conclusion -->


<!-- @include _header -->

.content-wrap
    %main.content(role='main')
        %h1.title
            %small Chapter 5
            Conclusion
        <!-- @include conclusion -->

<!-- @include _footer -->