.image {
    padding: 0;
    box-shadow: inset rgba(0,0,0,.15) 0 0 0 1px;
    border-radius: 4px;
    margin: 1.5em 0;
    
    img {
        padding: 1em;
        max-width: 100%;
    }
    
    figcaption {
        @include font-size($h5-size);
        background: rgba(0,0,0,.025);
        padding: .75em 1em .5em;
    }
    
    &.left {
        @include span-columns(3 of 8);
        float: left;
        display: inline;
        margin: 0 1em 0 0;
    }
    
    &.right {
        @include span-columns(3 of 8);
        float: right;
        display: inline;
        margin: 0 0 0 1em;
    }
}