/*------------------------------------*
    $HEADINGS
 *------------------------------------*/

h1, .alpha   { @include font-size($h1-size);   }
h2, .beta    { @include font-size($h2-size);   }
h3, .gamma   { @include font-size($h3-size);   }
h4, .delta   { @include font-size($h4-size);   }
h5, .epsilon { @include font-size($h5-size);   }
h6, .zeta    { @include font-size($h6-size);   }
    .giga    { @include font-size($giga-size); }
    .mega    { @include font-size($mega-size); }
    .kilo    { @include font-size($kilo-size); }

h1 {
    position: relative;
    small {
        font-family: $brand-secondary-font;
        color: #999;
        @include font-size($h2-size);
        display: block;
    }
}


h2 {
    @include font-size($h1-size);
    margin-top: .25em;
    
    & a:after {
        letter-spacing: 0em;
    }
}

h3 {
    font-family: $brand-secondary-font;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 500;
    padding-bottom: .5em;
    border-bottom: 1px solid #dedede;
}

h4 {
    font-weight: 700;
    font-family: $brand-secondary-font;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    margin-top: 2.5em;
}

%amp {
    font-weight: 500;
    font-style: italic;
    font-family: Baskerville, Palatino, "Book Antiqua", serif;
}

p a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid $brand-color;
    
    &:hover,
    &:focus {
        border-bottom: 1px solid $brand-accent-color;
    }
}

p b,
p strong {
    -webkit-font-smoothing: antialiased;
}

abbr {
    cursor: help;
}

mark {
    background-color: rgba(255,255,0,.15);
}