<!-- @reload -->
<!-- $title Introduction - Web Dev Field Guide -->
<!-- $bodyClass intro -->
<!-- @include _header -->

-# Main content goes here.

#container
    %main(role='main')
        %header(role='banner')
            %h1.page-title
                %a(href='/')
                    Introduction
        <!-- @include intro -->

<!-- @include _footer -->