.footer-container {
    @include outer-container;
    border-top: 4px solid $brand-color;
    margin-top: 2em;

    .nav-button {
        display: block;
        text-align: center;
        border-bottom: 1px solid #ccc;
        color: $brand-color;
        
        &:hover,
        &:focus {
            color: $brand-accent-color;
        }
    }
}

    .footer {
        @include fill-parent;
        @include font-size($h5-size);
        
        .footer-notes {
            @include span-columns(6);
            @include omega();
            padding-top: .5em;
            padding-bottom: 4em;
        }
    }