// Colors
$background-color: #fff;
$text-color: #444;
$accent-color: #EB6841;
$accent-hover-color: #CC333F;
$accent-color-2: $accent-hover-color;

// Sizes
$font-size: 16px;

// Font Families
$font-family: "source-sans-pro", Verdana, Helvetica, Arial, sans-serif;
$font-family-2: "skolar", Georgia, "Times New Roman", Times, serif;

// Neat
$max-width: 680px;
$grid-columns: 8;
$gutter: 2.5em;