<figure class='blockquote'>
<blockquote>History is the greatest and most authentic story we&rsquo;ve ever told, even the parts that are untrue.</blockquote>
<figcaption>Eric Meyer, <a href='http://meyerweb.com/eric/thoughts/2012/09/11/the-web-behind/' title='The Web Behind' class='external'>The Web Behind</a></figcaption>
</figure>