%p.lede Strongly structured content for a weakly structured web.




%h2#history
    %a(href='#history' title='History') History
        
%p The first step to understanding HTML is learning its history.