<!-- @reload -->
<!-- $title Author - Front End Dev Field Guide -->
<!-- $bodyClass author -->


<!-- @include _header -->

.content-wrap
    %main.content(role='main')
        %h1.title
            %small Chapter 7
            Author
        <!-- @include author -->

<!-- @include _footer -->