<!-- @reload -->
<!-- $title HTML - Web Dev Field Guide -->
<!-- $bodyClass html -->


<!-- @include _header -->

.content-wrap
    %main.content(role='main')
        %h1.title HTML
        <!-- @include html -->

<!-- @include _footer -->