<!-- @reload -->
<!-- $title HTML - Front End Dev Field Guide -->
<!-- $bodyClass html -->


<!-- @include _header -->

.content-wrap
    %main.content(role='main')
        %h1.title
            %small Chapter 3
            HTML
        <!-- @include html -->

<!-- @include _footer -->