%footer.footer-container
    %a.nav-button(data-hook='show-toc') View the Table of Contents
    .footer
        .about.vcard
            %p The Web Development Field Guide is a project by <a class='url fn' href='/author' target='_blank' title='Meet the Author'>Andrew Brinker</a>, &copy; 2013 all rights reserved.
        .footer-notes
            %p You are reading <span class='version-number'>version 1.0</span> of the field guide. It is stable for now, but the next major version is in the works.
            
            
    

%script(src = "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
%script
    window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.9.1.min.js"><\/script>')

<!-- scripts -->
<!-- @javascript plugins -->
<!-- @javascript main -->

%script
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));