%nav(role='navigation' class='table-of-contents')
    :markdown
        ### Table of Contents
        
        1. #### [Introduction](/intro "Introduction")
            1. [Why This Exists](/intro#why-this-exists "Why This Exists")
            2. [Who It's For](/intro#who-its-for "Who It's For")
            3. [Paradigm Agnosticism](/intro#paradigm-agnosticism "Paradigm Agnosticism")
            3. [Final Welcome](/intro#final-welcome "Final welcome")
        1. #### [Browsers](/browsers "Browsers")
            1. [How They're Made](/browsers#how-theyre-made "How They're Made?")
            2. [Browsers and the Spec](/browsers#browsers-and-the-spec "Browsers and the Spec")
            3. [Browser Differences](/browsers#browser-differences "Browser Differences")
            4. [Rendering](/browsers#rendering "Rendering")
                1. [The Render Cycle](/browsers#the-render-cycle "The Render Cycle")
                2. [Rendering Engines](/browsers#rendering-engines "Rendering Engines")
                3. [Reflows &amp; Repaints](/browsers#reflows-and-repaints "Reflows and Repaints")
            5. [The Cache](/browsers#the-cache "The Cache")
                1. [What to Cache](/browsers#what-to-cache "What to Cache")
                2. [Cache-busting](/browser#cache-busting "Cachebusting")
        2. #### [HTML](/html "HyperText Markup Language")
            1. [History](/html#history "History of HTML")
                1. [A Brief Story](/html#a-brief-story "A Brief Story")
                2. [Current Structure](/html#current-structure "Current Structure")
            2. [Tags](/html#tags "Tags")
                1. [Doctypes](/html#doctypes "Doctypes")
                2. [Basic Structure](/html#basic-structure "Basic Structure")
                3. [Content](/html#content "Content")
            3. [Attributes](/html#attributes "Attributes")
                1. [Classes](/html#classes "Classes")
                2. [IDs](/html#ids "IDs")
                3. [Resource Attributes](/html#resource-attributes "Resources Attributes")
                4. [Accessibility Attributes](/html#accessibility-attributes "Accessibility Attributes")
                    1. [ARIA Roles](/html#aria-roles "ARIA Roles")
            4. [Microformats](/html#microformats "Microformats")
            5. [Syndication](/html#syndication "Syndication")
            4. [Semantics](/html#semantics "Semantics")
            5. [Validation](/html#validation "Validation")
            6. [HTML5](/html#html5)
                1. [Offline](/html#offline "Offline")
                2. [New Semantics](/html#new-semantics "New Semantics")
                3. [Performance](/html#performance "Performance")
                4. [Storage](/html#storage "Storage")
                5. [Audio &amp; Video](/html#audio-and-video "Audio and Video")
                6. [Nuts &amp; Bolts](/html#nuts-and-bolts "Nuts and Bolts")
                7. [Connectivity](/html#connectivity "Connectivity")
                8. [3D &amp; Graphics](/html#3d-and-graphics "3D and Graphics")
                9. [File Access](/html#file-access "File Access")
                10. [Presentation](/html#presentation "Presentation")
        3. #### [CSS](/css "Cascading StyleSheets")
            1. [The Cascade](/css#the-cascade "The Cascade")
                1. [Inheritance](/css#inheritance "Inheritance")
                2. [Specificity](/css#specificity "Specificity")
            2. [What Styles Are Made Of](/css#what-styles-are-made-of "What Styles Are Made Of")
                1. [Selectors](/css#selectors "Selectors")
                2. [Properties &amp; Values](/css#properties-and-values "Properties and Values")
                3. [Psuedo-Selectors](/css#pseudo-selectors "Pseudo Selectors")
            3. [Responsive Web Design](/css#responsive-web-design "Responsive Web Design")
                1. [The Mobile Web](/css#the-mobile-web "The Mobile Web")
                2. [Mobile First](/css#mobile-first "Mobile First")
                3. [Breakpoints](/css#breakpoints "Breakpoints")
            4. [Scalable CSS](/css#scalable-css "Scalable CSS")
                1. [OOCSS](/css#oocss "OOCSS")
                    1. [CSS Objects](/css#css-objects "CSS Objects")
                    2. [Avoiding Class Bloat](/css#avoiding-class-bloat "Avoiding Class Bloat")
                2. [SMACSS](/css#smacss "SMACSS")
                    1. [Style Groups](/css#style-groups "Style Groups")
                    2. [Avoiding File Bloat](/css#avoiding-file-bloat "Avoiding File Bloat")
            7. [Preprocessors](/css#preprocessors "Preprocessors")
                1. [What Preprocessors Are](/css#what-preprocessors-are "What Preprocessors Are")
                2. [Why Use Them](/css#why-use-them "Why Use Them")
                3. [Less vs SASS](/css#less-vs-sass "Less vs SASS")
        4. #### [Conclusion](/conclusion "Conclusion")
            1. [Review](/conclusion#review "Review")
            2. [Build Real Things](/conclusion#build-real-things "Build Real Things")