<!-- @reload -->
<!-- $title Browsers - Web Dev Field Guide -->
<!-- $bodyClass intro -->
<!-- @include _header -->

-# Main content goes here.

#container
    %main(role='main')
        %header(role='banner')
            %h1.page-title
                %a(href='/')
                    Browsers
        <!-- @include browsers -->

<!-- @include _footer -->