<!-- @reload -->
<!-- $title Browsers - Front End Dev Field Guide -->
<!-- $bodyClass browsers -->


<!-- @include _header -->

.content-wrap
    %main.content(role='main')
        %h1.title
            %small Chapter 2
            Browsers
        <!-- @include browsers -->

<!-- @include _footer -->