<!-- @reload -->
<!-- $title Browsers - Web Dev Field Guide -->
<!-- $bodyClass browsers -->


<!-- @include _header -->

.content-wrap
    %main.content(role='main')
        %h1.title Browsers
        <!-- @include browsers -->

<!-- @include _footer -->