<!-- @reload -->
<!-- $title Browsers - Web Dev Field Guide -->
<!-- $bodyClass browsers -->
<!-- @include _header -->

-# Main content goes here.

#container
    %sidebar
        <!-- @include toc -->
    %main(role='main')
        %header(role='banner')
            %h1.page-title
                %a(href='/')
                    Browsers
        .content
            <!-- @include browsers -->

<!-- @include _footer -->